.table {
  width: 100%;
}

.table thead {
  text-align: left;
  font-weight: bold;
  font-size: 10px;
  background-color: var(--header-white);
}

.table th,
.table td {
  padding: 10px;
  font-size: 14px;
}

.table tbody tr:nth-child(2n - 1) {
  background-color: var(--main-background-color);
}
