<h1 class="card__card-title">Lista de leads</h1>

<table class="table">
  <thead>
    <tr>
      <th>Nome</th>
      <th>Criado em</th>
      <th>Telefone</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <tr ng-repeat="lead in leads">
      <td>
        <span class="table__lead--name">{{ lead.lead_name || 'Lead sem Nome' }}</span> <br />
        <span class="table__lead--email">{{ lead.lead_email }}</span>
      </td>

      <td>
        {{ lead.lead_created_date }}
      </td>

      <td>
        {{ lead.phones || '(00) 0 0000-0000' }}
      </td>

      <td>
        <a href="#" title="Editar">
          Editar
        </a>
      </td>
    </tr>
  </tbody>
</table>